NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in

NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard

NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard

NEXT_PUBLIC_CONVEX_URL=

CONVEX_DEPLOY_KEY=

# sama dengan url widget (url tempat script embed 'widget.js') 
NEXT_PUBLIC_WIDGET_URL=http://localhost:3001

#email superadmin
ALLOWED_EMAILS=email1@gmail.com,email2@gmail.com